{% extends 'dashboard/base/base.html' %}{% load static %} {% block content %}
<div class="card my-3 my-lg-5 p-5 mx-auto shadow-lg text-bg-light">
  <div class="row g-0">
    <div class="col-md-4 d-flex align-items-center justify-content-center">
        <svg class="nav-icon">
          <use
            xlink:href="{% static 'vendors/assets/icons/sprites/free.svg#cil-warning' %}"
          ></use>
        </svg>
    </div>
    <div class="col-md-8 p-md-5">
      <div class="card-body text-center text-md-start">
        <h5 class="card-title">{{page_title}}</h5>
        {% if 'category' in owner %}
          <p class="card-text mt-5">Warning! You are about to delete a category. Deleting this will also delete all books currently associated with this category</p>
          <p class="card-text"><small class="text-body-secondary">Category Name: {{object.name}}</small></p>
        {% elif 'author' in owner %}
          <p class="card-text mt-5">Warning! You are about to delete an author. Deleting this will also delete all books currently associated with this author</p>
          <p class="card-text"><small class="text-body-secondary">Author Name: {{object.name}}</small></p>
        {% endif %}
        <div class="form-floating">
          <form method="post">
            {% csrf_token %}
            <p>Are you sure?</p>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-danger">
                Yes, Delete 
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}