{% extends 'dashboard/base/base.html' %}{% load static %} {% block content %}
<div class="card col-12 col-lg-8 my-3 my-lg-5 p-5 mx-auto shadow-lg rounded-5">
  <div class="row g-0">
    <div class="col-md-3 pt-md-5 d-none d-md-block">
      <img src="{% static 'img/studio-media-9DaOYUYnOls-unsplash.jpg' %}" class="img-fluid rounded-start" alt="image of books">
    </div>
    <div class="col-md-9">
      <div class="card-body p-md-5">
        <h5 class="card-title">{{page_title}}</h5>
        <p class="card-text mt-5">Please enter {{owner}} name in below field. {% if 'category' in owner %}This name should be unique and non-repeatable; system will give an error if existing category is being entered again{% endif %}</p>
        <div class="form-floating">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">
                Save {% if 'category' in owner %}Category{% else %}Author{% endif %}
              </button>
            </div>
          </form>
        </div>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          <a href="{% url 'upload-csv' owner %}">
        <button class="btn btn-link" type="button">
          <svg
        class="sidebar-brand-narrow"
        width="25"
        height="25"
        alt="Bulk Upload"
      >
        <use
          xlink:href="{% static 'vendors/assets/icons/sprites/free.svg#cil-cloud-upload' %}"
        ></use>
      </svg><span class="ms-1">Bulk Upload</span></button></a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}