{% extends 'landingpage/base/base.html' %}
{% block content %}
<h2>Books</h2>
<a href="">Add Book</a>
<table border="1">
    <tr><th>Title</th><th>Category</th><th>Actions</th></tr>
    {% for cat in categories %}
    <tr>
        <td>{{ cat.id }}</td>
        <td>{{ cat.name }}</td>
        <td>
            <a href="">Edit</a> |
            <a href="">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a class="btn btn-primary" href="{% url 'add-category' %}" role="button">Add Category</a>
{% endblock %}